@import "theme.css";
@import "switch.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-accent);
  color: var(--color-main);
  padding: 12px 18px;
}

.section-header {
  color: var(--color-accent);
}

.section-content {
  color: var(--color-main);
}

body {
  background-color: var(--color-bg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}